###############################################################################
#
# Required tooling for targeting the iCEbreaker (Lattice iCE40 UP5K, sg48).
# Don't modify this file directly. Instead, copy it to `build.cfg.local` and
# introduce any required changes there (build.cfg.local takes precedence and
# is gitignored).
#
# All of these ship in the YosysHQ OSS CAD Suite:
#   https://github.com/YosysHQ/oss-cad-suite-build/releases
###############################################################################

# Clash -> Verilog.
CLASH = stack run clash --

# Haskell unit tests.
TEST = stack test

# RTL synthesis -- https://github.com/YosysHQ/yosys
YOSYS = yosys

# Place & route -- https://github.com/YosysHQ/nextpnr
PNR = nextpnr-ice40

# Bitstream packing -- https://github.com/YosysHQ/icestorm
PACK = icepack

# Programming -- https://github.com/YosysHQ/icestorm
PROG = iceprog

###############################################################################
